{{ if .Inner }}{{ end }}
{{ $group := "references" }}

<div id="references-table">
<table>
    {{- range $index, $reference := .Scratch.Get $group -}}
        {{ $name := $reference.name }}
        {{ $link := $reference.link }}
        {{ $alt := $reference.alt }}
        <tr valign="top">
            <td align="right">
                [<a>{{- $index -}}</a>]
            </td>
            <td>
                <a id="{{ $alt }}" target="_blank" rel="noopener noreferrer" href="{{ $link }}"><span>{{ $name }}</span></a>
            </td>
        </tr>
        <script>
            var citation = document.getElementById("citation-{{ $alt }}");
            if (citation != null) {
                citation.appendChild(document.createTextNode("[{{ $index }}]"));
            }
        </script>
    {{- end -}}
</table>
</div>